/* Colors */
$primary-color: #333333;
$secondary-color: #ffffff;

$black: #000;
$white: #fff;
$gray-1: darken($white, 5%);
$gray-2: darken($white, 10%);
$gray-3: darken($white, 15%);
$gray-4: darken($white, 20%);
$gray-5: darken($white, 25%);
$gray-6: darken($white, 30%);
$gray-7: darken($white, 35%);
$gray-8: darken($white, 40%);
$gray-9: darken($white, 45%);
$gray-10: darken($white, 50%);
$gray-11: darken($white, 55%);
$gray-12: darken($white, 60%);
$gray-13: darken($white, 65%);
$gray-14: darken($white, 70%);
$gray-15: darken($white, 75%);
$gray-16: darken($white, 80%);
$gray-17: darken($white, 85%);
$gray-18: darken($white, 90%);
$text-color: #333333;
